In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [9]:
df = pd.read_csv('../realises/data.csv')
df.head(3)

,Unnamed: 0,id,rooms,metro,area,floor,parking,price,renovation,room_area,balcony,windows,bathroom,allowed_children_pets,ceiling_height,city
0,4,273614615,2,Арбатская,58.0,12,unknown,225000.0,Евроремонт,19.000000,unknown,На улицу и двор,Совмещенный (2),unknown,3.9,Москва
1,7,274475342,3,Смоленская,98.0,2,подземная,250000.0,Евроремонт,21.000000,unknown,Во двор,"Совмещенный (1), Раздельный (1)","Можно с детьми, Можно с животными",3.2,Москва
2,8,273973191,3,Смоленская,120.0,5,открытая,130000.0,Евроремонт,31.666667,unknown,На улицу,Совмещенный (1),Можно с животными,3.0,Москва

In [10]:
# делим на численные и категориальные
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

In [11]:
# кодируем категориальные
encoder = OneHotEncoder()
encoded = encoder.fit_transform(df[categorical_cols])
encoded_df = pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out(categorical_cols))

In [12]:
# кодируем численные
scaler = StandardScaler()
scaled = scaler.fit_transform(df[numeric_cols])
scaled_df = pd.DataFrame(scaled, columns=numeric_cols)

In [13]:
# объединяем в один датафрейм
encoded_df_final = pd.concat([encoded_df, scaled_df], axis=1)
encoded_df_final.head(5)

,metro_unknown,metro_Авиамоторная,metro_Автово,metro_Автозаводская,metro_Адмиралтейская,metro_Академическая,metro_Алексеевская,metro_Алма-Атинская,metro_Алтуфьево,metro_Аминьевская,...,city_Москва,city_Санкт-Петербург,Unnamed: 0,id,rooms,area,floor,price,room_area,ceiling_height
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,-1.769393,0.303871,-0.362975,-0.274465,0.761384,3.449282,0.235569,0.145202
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,-1.768940,0.351174,1.126087,1.756430,-0.957709,4.010684,0.605597,0.029495
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,-1.768789,0.323577,1.126087,2.873422,-0.441981,1.315952,2.579081,-0.003564
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,-1.768639,0.264620,2.615148,1.350251,-0.957709,3.112440,-0.226966,50.742347
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,-1.768337,0.325023,1.126087,0.842527,-0.613891,0.642269,-0.011116,-0.003564

In [14]:
# другой способ кодировки
encoded_df_final_2 =  pd.get_dummies(df)
encoded_df_final_2.head(5)

,Unnamed: 0,id,rooms,area,floor,price,room_area,ceiling_height,metro_unknown,metro_Авиамоторная,...,"bathroom_Совмещенный (2), Раздельный (1)","bathroom_Совмещенный (2), Раздельный (2)",bathroom_Совмещенный (3),allowed_children_pets_unknown,allowed_children_pets_Можно с детьми,"allowed_children_pets_Можно с детьми, Можно с животными",allowed_children_pets_Можно с животными,city_Краснодарский край,city_Москва,city_Санкт-Петербург
0,4,273614615,2,58.0,12,225000.0,19.000000,3.9,False,False,...,False,False,False,True,False,False,False,False,True,False
1,7,274475342,3,98.0,2,250000.0,21.000000,3.2,False,False,...,False,False,False,False,False,True,False,False,True,False
2,8,273973191,3,120.0,5,130000.0,31.666667,3.0,False,False,...,False,False,False,False,False,False,True,False,True,False
3,9,272900409,4,90.0,2,210000.0,16.500000,310.0,False,False,...,False,False,False,False,True,False,False,False,True,False
4,11,273999490,3,80.0,4,100000.0,17.666667,3.0,False,False,...,False,False,False,True,False,False,False,False,True,False